body {
    background-color: #EEEEEE;
    font-family: 'Courier New', Courier, monospace;
}
.nav-link {
    color: #00ADB5 !important;
    font-size: 25px;
    font-weight: 600;
}
.nav-link:hover {
    border-bottom: 2px solid white;
}
.logo{
    font-size: 40px;
    font-weight: 700;
    color: #00ADB5;
    text-decoration: none;
}
.contact{
    text-align: center;
    margin-top: 10%;
}
#contact-row{
    align-items: center;
    margin-top: 10%;
}
.Button-boot{
    margin-left: 25%;
    margin-top: 5%;
}
